body {
  height:100%;
  background-color: #2f2d46;
  background-image: url("../src/resource/WebBG2.png");
  animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1}
}
canvas{
	border: 2px groove #331144;
  box-shadow: 0px 0px 4px #220033;
}
.twitter{
  padding:5px;
  background-color:#37a;
  font-size:12px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #220033;
  transition: all 100ms 0s ease;
  color:#ccc;
}
@keyframes sizeScale {
    10% {
      position:relative;
      left:5px;
      wifth:90px;
    }
}

.fa-twitter{
   font-family: "Rounded Mplus 1c";
 }
.loading:before {
  size:30px;
  content:"(✿╹◡╹)Loading..."
}
a:visited{ color: #3737ac; }
a:link{ color: #3737ac; }
a:hover{ color: #334; }
a { text-decoration: none; }

h3{
  position: relative;
  left:40px;
  color: #7a2535;
}
h3#sign::before{
  position: absolute;
  left:-40px;
  content: "";
  width: 32px;
  height: 32px;
  background: url("../src/resource/sign.png") top left no-repeat;
}
h3#icon::before{
  position: absolute;
  left:-40px;
  content: "";
  width: 32px;
  height: 32px;
  background: url("../src/resource/favicon.png") top left no-repeat;
}
.textbox {
  margin : 20px ;
  padding : 20px ;
  background: #7f92b5;
  background-image: url("../src/resource/WebBG.png");
  font-family: "Rounded Mplus 1c";
}
.text {
  position:relative;
  top:0px;
  left:0px;
}
.textR {
  position:relative;
  top:0px;
  left:0px;
}
.name{
  position:relative;
  left:0px;
}
.bio{
  position:relative;
  top:0px;
  left:0px;
}

