.screen{
  z-index:3;
  position:absolute;
  top:0px;
  left:0px;
  width: 100vw;
  height: 200vh;
  opacity:1;
  transform: translate3d(0,0,0);
  background: #211022;
  transition: all 300ms 0s ease;
  animation: open 5s;ease-in-out .5s;
  animation-fill-mode: forwards;
}
@keyframes open{
  80%{
    opacity:1;
  }
  95%{
    opacity:0;
    width: 100vw;
    height: 200vh;
  }
  100%{
    opacity:0;
    width: 0vw;
    height: 0vh;
  }
}
.twitter:hover{
   animation-duration: 0.3s;
   color:#ac3765;
   background-color:#ccc;
   position:relative;
   left:-5px;
   width:110px;
 }
@keyframes sizeScale {
    10% {
      position:relative;
      left:5px;
      wifth:90px;
    }
}
.box {
  z-index:4;
  content:"in";
  width: 100vw;
  height: 0x;
  background: #ac3765;
  position:absolute;
  top:300px;
  left:0px;
  animation-fill-mode: forwards;
  animation: spread 10s;
}
.loading {
  z-index:5;
  position:relative;
  top:5px;
  color: #ccc;
  opacity:0;
  animation:
  fadein 0.9s forwards,
  pulse 0.3s ease 1s infinite alternate;
}
@keyframes fadein{
  50% {
    opacity:0;
  } 
  100% {
    opacity:1;
  } 
}
@keyframes pulse{
    30% {
      opacity:0.7;
    } 
    100% { 
      opacity:1;
    } 
}
@keyframes spread{
    0% {
      height:0px;
    } 
    6% { 
      height:32px; 
    } 
    100% { 
    } 
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}
